:root {
    --clr-primary: #282A35;
}

body {
    
    background-color: var(--clr-primary);
}


#header {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    align-items: center;
    overflow: visible;
    position: relative;
    top: -10px;
    width: 1709px;
    margin-left: -10px;
    margin-right: -10px;
    height: 90px;
}

#bild {
    width: 60px;
    zoom: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 35px;
}

#tutorials {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 24px 16px; 
    background-color: white;
    border-color: white;
    display: block;
    font-weight: bold;
}

#references {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 24px 16px;
    display: block;
    font-weight: bold;
}

#exercise {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 24px 16px;
    display: block;
    font-weight: bold;
}

#sign {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 24px 16px;
    display: block;
    font-weight: bold;
    
}

#pro {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    background-color:black;
    padding: 8px, 16px;
    border-radius: 50px;
    width: 60px;
    padding: 25px;
    border-right: 0;
    text-align: center;
    margin-right: 15px;
    margin-left: 430px;
    font-weight: bold;
    height: 10px;
}

#certified {
    text-align: center;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    background-color:#FFC0C7;
    padding: 8px, 16px;
    border-radius: 50px;
    width: 130px;
    padding: 25px;
    border-right: 0;
    margin-right: 15px;
    font-weight: bold;
    height: 10px;
}

#website {
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    background-color: #FFF4A3;
    padding: 8px, 16px;
    border-radius: 50px;
    padding: 25px;
    border-right: 0;
    width: 150px; 
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
    height: 10px;
    
}

#login {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    padding: 8px, 16px;
    border-radius: 25px;
    background: #04AA6D;
    border-radius: 50px;
    width: 130px;
    height: max-content;
    padding: 25px;
    border-right: 0;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
    height: 10px;
    }


#headline {
    font-size: 60px;
    color: black;
}


#search {
    border-radius: 50%;
    border-color: black;
    
}

#headline {
    color: white;
    font-size: 70px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
    /*margin: 2px, 0px, -20px;*/
}

#underheadline {
    color: #FFC0C7;
    font-size: 23px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  #suchfeld {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    font-weight: bolder;
    
  }
  /*mit der Lupe hat es nicht funktioniert*/
  #btn {
    width: 125px;
    height: 60px;
    background-color: #04AA6D;
    background: #04AA6D;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: center;
    color: white;
  }
  
#btn:hover{
    background: #037e51;
}
#question {
    color: white;
    text-decoration: underline;
    font-size: 23px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    text-align: center;
}
